// http://www.materialpalette.com/blue-grey/teal
// Here you can also overwrite ionic's variables
$palette-primary-dark: #d32f2f !default;
$palette-primary-color: #f44336 !default;
$palette-primary-light: #ffcdd2 !default;
$palette-primary-icon: #fff !default;
$palette-primary-text: #212121 !default;;
$palette-primary-background: white !default;
$palette-accent-color: #ffc107 !default;
$palette-secondary-text: #727272 !default;
$palette-divider-color: #b6b6b6 !default;
$bar-height: 64px !default;
